@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-VariableFont.ttf");
    font-weight: 100 900;
    font-style: normal;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    font-family: "Roboto";
    color: #E5E7EB;
    font-size: 18px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header, .hero-statement-section{
    background-color: #1F2937;
    padding: 25px 150px 0 150px;
}

header{
    display: flex;
    justify-content: space-between;
}

.header-logo-image{
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.header-logo{
    font-family: "Roboto";
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 400;

    display: flex;
    align-items: center;
}

.header-links{
    display: flex;

    gap: 25px;
}

.hero-statement-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 350px;

    padding: 100px 150px;

    gap: 50px;
}

.hero-main-text{
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text{
    font-family: "Roboto";
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.sign-up-hero-button{
    background-color: #3882f6;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: "Roboto";
    padding: 10px 40px;

    margin-top: 25px;
}

.left-items{
    max-width: 50%;
}

.right-items{
    flex: 0 1 50%;
    display: flex;
    max-height: 100%
}

.right-items img{
    width: 100%;
}

.main-section{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0 350px 0 350px;
}

.information-header{
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

    padding: 50px 0;
}

.main-subsections{
    display: flex;

    gap: 50px;

    margin-bottom: 200px;

    width: fit-content;
}

.subtext-image{
    width: 100%;
    height: 100%;
    border: 3px solid;
    border-color: #3882F6;
    border-radius: 10px;
}

.main-section-subsection{
    max-width: 175px;
    max-height: 175px;
}

.subsection-text{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    color: #616A77;

    margin: 0;

    text-align: center;
}

.main-quote-section{
    padding: 150px;
    background-color: #E5E7EB;
    max-width: 100%;
}

.quote{
    font-family: "Roboto";
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    width: fit-content;
}